
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

.info-bar {
  position: absolute;
  width: -webkit-fill-available;
  height: 26px;
  left: 0px;
  top: 0px;
  background: #4938B5;
}

.info-msg {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-top: 5px;
}

.nav-container {
  position: absolute;
  width: -webkit-fill-available;
  height: 79px;
  left: 0px;
  top: 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-navbar {

  width: 150px;
  height: 30px;
  margin-right: 350px;
}

.nav-container .nav-link ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 490px;
  height: 21px;
  left: 744px;
  top: 29px;
  list-style-type: none;  
}

.nav-container .nav-link ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #1D0D85;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.icons-navbar {
  width: 94px;
  height: 32px;
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 14px;
}

.nav-img-links {
  display: contents;
}

.hero-container {
  position: absolute;
  width: 1440px;
  height: 455px;
  left: 0px;
  top: 105px;
}

.item-container {
  position: absolute;
  width: -webkit-fill-available;
  height: 571px;
  left: 179px;
  display: flex;
  top: 870px;

}